<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>MENU</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button ion-item icon-start (click)="onNavigate(oPage)" *ngIf="isAuth">
				<ion-icon name="settings"></ion-icon>
				Options
			</button>
			<button ion-item icon-start (click)="onNavigate(tabsPage)" *ngIf="isAuth">
				<ion-icon name="book"></ion-icon>
				Livres
			</button>
			<button ion-item icon-start (click)="onNavigate(discPage)" *ngIf="isAuth">
				<ion-icon name="disc"></ion-icon>
				CDs
			</button>
			<button ion-item icon-start (click)="onNavigate(authPage, {mode:'new'})" *ngIf="!isAuth">
				<ion-icon name="person-add"></ion-icon>
				Nouvel utilisateur
			</button>
			<button ion-item icon-start (click)="onNavigate(authPage, {mode:'connect'})" *ngIf="!isAuth">
				<ion-icon name="person"></ion-icon>
				Connexion
			</button>
			<button ion-item icon-start (click)="onDisconnect()" *ngIf="isAuth">
				<ion-icon name="exit"></ion-icon>
				Déconnexion
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>
